## Crear las siguientes TADS:

#### TAD de clubes:

* Edad promedio de los jugadores comprados, edad del jugador más caro que ha comprado un club, y la edad del jugador más barato.
* Edad promedio del jugador dada la posición.
* Fee promedio del jugador dada la posición.

#### TAD de ligas:

* Movimientos totales de la liga
* Fee total recibido por la liga.
* Fee total pagado por la liga.

#### TAD Position:

* Edad promedio de la posición.
* Costo promedio de la posición.
* Liga con mayor demanda de la posición (calculado a partir de la variable league_to y además utilizando pd.Series.mode)

In [1]:
# Cargar marca de agua.
%load_ext watermark
%watermark

Last updated: 2022-03-02T19:40:05.020832-06:00

Python implementation: CPython
Python version       : 3.8.8
IPython version      : 7.25.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
CPU cores   : 4
Architecture: 64bit

In [2]:
# Importamos librerías
import pandas as pd
import numpy as np
import warnings
import os

# Número de columnas
pd.set_option('display.max_columns', 500)
# Ignorar warnings 
warnings.filterwarnings('ignore')

In [3]:
# Cargamos el dataset
df = pd.read_csv('top250-00-19.csv')
# Pedimos los 3 primeros registros
df.head(3)

,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000

## TAD de cubles

In [4]:
# Creamos el index de nuestra TAD
clubes = set(list(df['Team_to']) + list(df['Team_from']))
dfclub = pd.DataFrame(index=clubes)

In [5]:
# Variables
# Al ser jugadores comprados, el groupby se basará en Team_to
# Edad y costo promedio de los jugadores comprados.
vargrp = 'Team_to'
vars_ = ['Team_to', 'Age', 'Transfer_fee']
varsn = ['Edad promedio de los jugadores comprados',
         'Costo promedio de los jugadores comprados']
aux = df[vars_].groupby(vargrp).mean()
aux.columns = varsn

# Edad del jugador mas caro y barato que ha comprado un club.
max_age = []
min_age = []
for team in aux.index:
    age = df.loc[df['Team_to'] == team].copy()
    max_ = age.loc[age['Transfer_fee'] == age['Transfer_fee'].max()]['Age'].max()
    min_ = age.loc[age['Transfer_fee'] == age['Transfer_fee'].min()]['Age'].min()
    max_age.append(max_)
    min_age.append(min_)
aux['Edad del jugador más caro que ha comprado el club'] = max_age
aux['Edad del jugador más barato que ha comprado el club'] = min_age
aux

,Edad promedio de los jugadores comprados,Costo promedio de los jugadores comprados,Edad del jugador más caro que ha comprado el club,Edad del jugador más barato que ha comprado el club
Team_to,,,,
1. FC Köln,22.600000,8.300000e+06,24,23
1.FC K'lautern,25.000000,2.383333e+06,22,23
1.FSV Mainz 05,22.833333,5.966667e+06,21,25
1860 Munich,23.000000,1.393750e+06,26,21
AC Milan,25.044118,1.384338e+07,30,17
...,...,...,...,...
West Brom,24.600000,5.930500e+06,25,23
West Ham,25.481481,9.557222e+06,25,21
Wigan,25.538462,4.096154e+06,28,27
Wolves,25.333333,5.729630e+06,20,25
Zenit S-Pb,25.243243,1.129730e+07,26,27

In [6]:
# Edad y Fee promedio del jugador dada la posición
vargrp = ['Team_to', 'Position']
vars_ = ['Team_to', 'Position', 'Age', 'Transfer_fee']
varsn = ['Edad promedio del jugador dada la posición', 
         'Costo promedio del jugador dada la posición']
aux2 = df[vars_].groupby(vargrp).mean()
aux2.columns = varsn 
aux2

                                   Edad promedio del jugador dada la posición  \
Team_to        Position
1. FC Köln     Centre-Back                                               21.0
               Centre-Forward                                            24.0
               Left Midfield                                             23.0
1.FC K'lautern Attacking Midfield                                        22.0
               Centre-Back                                               26.0
...                                                                       ...
Zenit S-Pb     Left-Back                                                 25.0
               Right Midfield                                            25.0
               Right Winger                                              25.0
               Right-Back                                                23.5
               Second Striker                                            25.5

                                   Costo promedio del jugador dada la posición
Team_to        Position
1. FC Köln     Centre-Back                                           5750000.0
               Centre-Forward                                       13500000.0
               Left Midfield                                         3000000.0
1.FC K'lautern Attacking Midfield                                    4000000.0
               Centre-Back                                           2500000.0
...                                                                        ...
Zenit S-Pb     Left-Back                                            11500000.0
               Right Midfield                                        9000000.0
               Right Winger                                         24500000.0
               Right-Back                                            4500000.0
               Second Striker                                        6150000.0

[1584 rows x 2 columns]

In [7]:
# Se pasa el indice a columna
aux3 = aux2.copy()
aux4 = aux3.reset_index([1])
aux4

,Position,Edad promedio del jugador dada la posición,Costo promedio del jugador dada la posición
Team_to,,,
1. FC Köln,Centre-Back,21.0,5750000.0
1. FC Köln,Centre-Forward,24.0,13500000.0
1. FC Köln,Left Midfield,23.0,3000000.0
1.FC K'lautern,Attacking Midfield,22.0,4000000.0
1.FC K'lautern,Centre-Back,26.0,2500000.0
...,...,...,...
Zenit S-Pb,Left-Back,25.0,11500000.0
Zenit S-Pb,Right Midfield,25.0,9000000.0
Zenit S-Pb,Right Winger,25.0,24500000.0
Zenit S-Pb,Right-Back,23.5,4500000.0
Zenit S-Pb,Second Striker,25.5,6150000.0

In [9]:
# Construir un diccionario, la llave sera Team_to y el valor sera otro diccionario

epdp = [] # Lista de edad promedio del jugador dada la posición
fpdp = [] # Lista de costo promedio del jugador dada la posición
for team in aux4.index.unique():
    aux5 = aux4.loc[aux4.index == team]
    epdp.append(dict(zip(aux5['Position'], aux5['Edad promedio del jugador dada la posición'])))
    fpdp.append(dict(zip(aux5['Position'], aux5['Costo promedio del jugador dada la posición'])))
    
aux6 = aux.copy()
aux6['Edad promedio del jugador dada la posición'] = epdp
aux6['Costo promedio del jugador dada la posición'] = fpdp
aux6

,Edad promedio de los jugadores comprados,Costo promedio de los jugadores comprados,Edad del jugador más caro que ha comprado el club,Edad del jugador más barato que ha comprado el club,Edad promedio del jugador dada la posición,Costo promedio del jugador dada la posición
Team_to,,,,,,
1. FC Köln,22.600000,8.300000e+06,24,23,"{'Centre-Back': 21.0, 'Centre-Forward': 24.0, ...","{'Centre-Back': 5750000.0, 'Centre-Forward': 1..."
1.FC K'lautern,25.000000,2.383333e+06,22,23,"{'Attacking Midfield': 22.0, 'Centre-Back': 26...","{'Attacking Midfield': 4000000.0, 'Centre-Back..."
1.FSV Mainz 05,22.833333,5.966667e+06,21,25,"{'Attacking Midfield': 24.0, 'Central Midfield...","{'Attacking Midfield': 5000000.0, 'Central Mid..."
1860 Munich,23.000000,1.393750e+06,26,21,"{'Attacking Midfield': 26.0, 'Centre-Back': 22...","{'Attacking Midfield': 2250000.0, 'Centre-Back..."
AC Milan,25.044118,1.384338e+07,30,17,"{'Attacking Midfield': 24.833333333333332, 'Ce...","{'Attacking Midfield': 15341666.666666666, 'Ce..."
...,...,...,...,...,...,...
West Brom,24.600000,5.930500e+06,25,23,"{'Attacking Midfield': 25.5, 'Central Midfield...","{'Attacking Midfield': 5225000.0, 'Central Mid..."
West Ham,25.481481,9.557222e+06,25,21,"{'Attacking Midfield': 27.75, 'Central Midfiel...","{'Attacking Midfield': 9750000.0, 'Central Mid..."
Wigan,25.538462,4.096154e+06,28,27,"{'Attacking Midfield': 27.0, 'Central Midfield...","{'Attacking Midfield': 5650000.0, 'Central Mid..."
Wolves,25.333333,5.729630e+06,20,25,"{'Attacking Midfield': 26.0, 'Central Midfield...","{'Attacking Midfield': 2250000.0, 'Central Mid..."
Zenit S-Pb,25.243243,1.129730e+07,26,27,"{'Attacking Midfield': 25.333333333333332, 'Ce...","{'Attacking Midfield': 14666666.666666666, 'Ce..."

## TAD ligas

In [15]:
# Conteo por League_from
dffrom = df[['League_from', 'Transfer_fee']]
dffrom = dffrom.groupby('League_from').agg(['count', 'sum'])
dffrom.columns = ['Número de ventas', 'Total vendido']
dffrom

                    Número de ventas  Total vendido
League_from
 Argentina                        66      363660000
 Australia                         1        1800000
 Brazil                           89      449770000
 Bulgaria                          6       17600000
 Canada                            1       10000000
...                              ...            ...
U18 Premier League                 1        7840000
U19 Eredivisie                     2        3000000
UAE Gulf League                    8       65950000
Virsliga                           1        2000000
Vysheyshaya Liga                   2        5000000

[118 rows x 2 columns]

In [ ]:
# Conteo por League_to
dfto = df[['League_to', 'Transfer_fee']]